.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* add new class when button clicked on */
.active ,.accordion:hover{
    background-color: #ccc;
}

/* Note: hidden by default */
.panel{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

